<h1><%=@home_task.lesson.course.name%>. Домашнее задание  на <%=@home_task.lesson.learning_day.date%></h1>

<%= render :partial => "form" %>

<%= link_to 'Назад', learning_day_path(@home_task.lesson.learning_day) %>